<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Add Form</h3>
            <form name="myForm" ng-submit="addRow();">
                <div class="form-group"> 
                    <label for="">ID</label>
                    <input type="text" name="id" ng-model="id" class="form-control" pattern="F\d{2}" required>
                    <span class="error" ng-show="myForm.id.$error.required">ID is request</span> <br>
                    <span class="error" ng-show="myForm.id.$invalid">ID has format Fxx, x:digit</span>
                </div>
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="name" ng-model="name" class="form-control" required>
                    <span class="error" ng-show="myForm.name.$error.required">Name is required</span>
                </div>
                <div class="form-group">
                    <label for="">Price</label>
                    <input type="text" name="price" ng-model="price" class="form-control" min="0" required>
                    <span class="error" ng-show="myForm.price.$error.required">Price is required</span> <br>
                    <span class="error" ng-show="myForm.price.$invalid">Selling price must be greater than 0</span>
                </div class="form-group">
                <div>
                    <input type="submit" value="Add" class="btn btn-danger"
                    ng-disabled="!myForm.$dirty || (myForm.$dirty && myForm.$invalid)">
                </div>
            </form>
        </div>
    </div>
</div>