.logo{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 0;
    text-align: center;
    background-position-y: center;
    border: black solid thin; 
}
nav{
    text-shadow: 0.5px 0.2px 1px rgba(0, 0, 255, 0.61);
    border: black solid thin;
    width: 100%;
    overflow: hidden;
}
a {
    display: block;
    text-decoration: none;
    text-align: center;
    float: left;
    min-width: 14%;
    font-weight: bold;
    font-size: x-small;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    
    }
span{
    font-size: 2em;
    color: chocolate;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: block;
    text-align: center;
    display: inline-block;
    margin-top: 1em;
    overflow: hidden;
    
}
.text{
    text-align: center;
    margin-top: 1rem;
    color: dimgray;
}